html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#map {
  height: 100%;
}

.navbar {
  margin-bottom: -2px;
  background-color: #434040;
  color: #434040;
  border: none;

}

#homepage {
  text-align: center;
  width: auto;
  color: #E0E0E0;
  background-color: #252525;
}

#intro {
  background-image: url(/public/images/intro.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  height: 90vh;
  width: 100%;
  padding: 12em 0 0 0;
}

#home_2_column {
  padding: 5% 15% 5% 15%;
}

#home_2_column p {
  margin-top: 5%;
}

#about_us {
  font-size: 1.2em;
  color: white;
  font-weight: 300;
  letter-spacing: 1.5px;
  background-image: url(/public/images/aboutus.jpeg);
  background-size: cover;
  background-position: center;
  padding: 5% 10%;
}

#home_3_column img {
  margin: 5% auto;
  width: 30%
}
.centered h1 {
  font-size: 4rem;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
}

.centered p {
  font-size: 1.5rem;
  font-weight: 300;
}

.forms {
  margin-top: 2%;
  font-weight: 300;
}