html, body, main {
  height: 100%;
  padding: 0;
  margin: 0;
}

#map {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.navbar {
  z-index: 100;
  position: relative;
}

#question-box{
  height: 100px;
  width: 100px;
  z-index: 200;
}

.flag-box{
  height: 50%;
  width: 50%;
}

.captial{
  height: 50%;
  width: 50%;
}