html, body, main {
  height: 100%;
  padding: 0;
  margin: 0;
}

/*#score {
  margin-left: 10%;
}*/

#map {
  width: 100%;
  height: 100%;
  /*position: absolute;*/
  top: 0;
  left: 0;
  width: 100%;
}

#card-deck-wrapper {
  width: 95%;
  position: absolute;
  top: 1%;
  left: 5%;
}

.navbar {
  box-shadow: 0 8px 6px 8px #999;
}

.card {
  padding: 0.2rem;
  display: inline-block;
  float: left;
  width: 6rem;
  margin: 0.3rem 0.3rem;
}

.card-block {
  padding: 0;
  text-align: center;
}

.card-block h4 {
  font-size: 0.8rem;
}

.card img {
  width:100%;
  height: 5rem;
}

#homepage {
  text-align: center;
  width: auto;
  z-index: 10;
}

#intro {
  background-image: url(/public/images/intro.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  height: 90vh;
  width: 100%;
  padding: 12em 0 0 0;
}

#home_2_column {
  padding: 5% 15% 5% 15%;
}

#home_2_column p {
  margin-top: 5%;
}

#about_us {
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 1.5px;
  background-image: url(/public/images/travel.jpg);
  background-size: cover;
  background-position: center;
  padding: 10% 20% 10% 5%;
}

#home_3_column img {
  margin: 5% auto;
  width: 30%
}
.centered h1 {
  font-size: 4rem;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
}

.centered p {
  font-size: 1.5rem;
  font-weight: 300;
}

.forms {
  margin-top: 2%;
  font-weight: 300;