@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,700';
@import 'https://fonts.googleapis.com/css?family=Raleway:100,200,400,700';

html {
  font-family: 'Roboto', sans-serif;
}

html, body, main {
  height: 100%;
  padding: 0;
  margin: 0;
}

main {
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: -1;
  background: #fff;
}

main.active {
  z-index: 1040;
}

ul li {
  padding: -3%;
  list-style-type:none;
}



.navbar-fixed-top {
 box-shadow: 0 8px 6px -6px #998;
 background-color: #FFFFFE;
}

.navbar-fixed-bottom {
  box-shadow: 0 8px 6px 8px #998;
  background-color: #FFFFFB;
}

.card {
  padding: 0.2rem;
  display: inline-block;
  float: left;
  width: 6rem;
  margin: 0.3rem 0.3rem;
}

.card-block {
  padding: 0;
  text-align: center;
}

.card-block h4 {
  font-size: 0.8rem;
}

.card img {
  width:100%;
  height: 5rem;
}

.centered h1 {
  font-size: 4rem;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
}

.centered p {
  font-size: 1.5rem;
  font-weight: 300;
}

.forms {
  margin-top: 2%;
  font-weight: 300;
}

#homepage {
  text-align: center;
  width: auto;
  z-index: 10;
}

#homepage {
  background-color: #fff;
}

#intro {
  background-image: url(/images/intro2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  height: 95vh;
  width: 100%;
  padding: 13rem 0 0 0;
}

#home_2_column {
  padding: 5% 15% 5% 15%;
}

#home_2_column p {
  margin-top: 5%;
}

#about_us {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 1.5px;
  background-image: url(/images/intro1.jpg);
  background-size: cover;
  background-position: center;
  padding: 10% 4% 10% 41%;
}

#home_3_column img {
  margin: 5% auto;
  width: 30%
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
}

#card-deck-wrapper {
  width: 95%;
  position: absolute;
  top: 1%;
  left: 5%;
}

#player1 {
  display: "";
}

#player2 {
  display: none;
}

#winning-popup {
  width: 50%;
  height: 50%;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

#continentIndicator {
  width: 1rem;
}