<form method="POST" action="/register">
  <div class="form-group">
    <input name="username" placeholder="Username" class="form-control">
  </div>
  <div class="form-group">
    <input name="email" placeholder="Email" class="form-control">
  </div>
  <div class="form-group">
    <input name="password" type="password" placeholder="Create your Password" class="form-control">
  </div>
  <div class="form-group">
    <input name="passwordConfirmation" type="password" placeholder="Conform your Passowrd" class="form-control">
  </div>

  <button class="btn btn-primary">Sign Up</button>
</form>