<div class="container-flat">
  <div id="homepage">
    <div id="intro">
      <div class="centered">
        <h1>Around the World in 80 Clicks</h1>    
        <p>Fun with Capitals and Flags</p>
          <a href="" data-template="register" class="accessButton btn btn-secondary">Sign Up</a>
          <a href="" id="play" class="accessButton btn btn-primary">Play!</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" id="home_2_column">
        <img src="/images/map.png" alt="tank icon">
        <p>Pick a country, give the right answer and travel all round the world</p>
      </div>
      <div class="col-md-6" id="home_2_column">
        <img src="/images/globe.png" alt="rpg icon">
        <p>The world is a book and those who do not travel read only one page</p>
      </div>
    </div>

    <p id="about_us">
      Around the World in 80 Clicks  is a point and click adventure game created by Jules, Antonio and Chetan in 2016. Team Phoenix based the game on Google Maps and invite you to circumnavigate the world in 80 clicks. Unlike Phileas Fogg who lost his 20,000 pounds by 5 minutes (wager equal to about £2 million in 2016). Set by friends at the “GA”, this is the Team Phoenix most acclaimed works.
    </p>

    <div class="row">
      <h4>Features</h4>
      <div class="col-md-4" id="home_3_column">
        <p>Follow your Journey</p>
        <img src="/images/gameUX.png" alt="game board screenshot" class="img-circle">
      </div>
      <div class="col-md-4" id="home_3_column">
        <p>Block your Opponent</p> 
        <img src="/images/gameUX.png" alt="army screenshot" class="img-circle">   
      </div>
      <div class="col-md-4" id="home_3_column">
        <p>Your Highest Score</p>
        <img src="/images/gameUX.png" alt="leaderboard screenshot" class="img-circle">
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <img src="/images/ga.png">
      </div>
      <div class="col-md-4">
        <p>Support</p>
        <p>Terms</p>
        <p>Privacy</p>
      </div>
      <div class="col-md-4">
        <p>Facebook</p>
        <p>Twitter</p>
        <p>Instagram</p>
        <p>Pinterest</p>
        <p>Google+</p>
      </div>
    </div>
  </div>
</div>