<div id="homepage">
  <div id="intro">
    <div class="centered">
      <h1>Empire</h1>    
      <p>Conquer the world, one state at a time!</p>
        <a href="#" data-template="" class="logged-out">"Register"</a>
        <a href="#" data-template="" class="logged-out">"Play!"</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" id="home_2_column">
      <img src="/images/tank-icon.png" alt="tank icon">
      <p>Build your army and conquer the world</p>
    </div>
    <div class="col-md-6" id="home_2_column">
      <img src="/images/rifle.png" alt="rifle icon">
      <p>Play against other player and climb the word's raking</p>
    </div>
  </div>

  <p id="about_us">
  Empire is a strategic game where two player battle for the world's supremacy...
  </p>

  <div class="row">
    <h4>The Game Board</h4>
    <div class="col-md-4" id="home_3_column">
      <img src="/images/gameboard-screen.jpg" alt="game board screenshot" class="img-circle">
      <p>Your Army</p>
    </div>
    <div class="col-md-4" id="home_3_column">
      <img src="/images/army-screen.jpg" alt="army screenshot" class="img-circle">
      <p>Leaderboard</p>    
    </div>
    <div class="col-md-4" id="home_3_column">
      <img src="/images/leaderboard-screen.jpg" alt="leaderboard screenshot" class="img-circle">
      <p>Oxfam</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      About Us
    </div>
    <div class="col-md-4">
      <ul>
        <li>Support</li>
        <li>Terms</li>
        <li>Privacy</li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Instagram</li>
        <li>Pinterest</li>
        <li>Google+</li>
      </ul>
    </div>
  </div>